 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 100 to 900 */

.inter-200 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.css-box-model {
  /* border-dimensions */
  border-top: 15px;
  border-right: 20px;
  border-bottom: 10px;
  border-left: 5px;
  /* shorthands for border: top, right, bottom, left */
  /* border: 15px, 20px, 10px, 5px; */
  
  /* margin-dimensions */
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  /* shorthands for margin: top, right, bottom, left */
  /* margin: 20px, 15px, 5px, 10px; */
  
  /* padding-dimensions */
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 20px;
  /* shorthands for padding: top, right, bottom, left */
  /* padding: 10px, 5px, 15px, 20px; */
}

.box {
  width: auto;
  /* max-width: 100vw; */
  /* max-width: 450px; */
  height: auto;
  top:5vh;
  left:5vw;
  /* position: sticky; */
  color: black;
}

.box:hover {
  width: auto;
  /* max-width: 100vw; */
  /* max-width: 450px; */
  height: auto;
  top:5vh;
  left:5vw;
  /* position: sticky; */
  color: red;
  background-color: yellow;
}

.box-border {
  /* border-color, border-width, border-style: these 3 are in group together */
    border-color: blueviolet; 
    border-width: 1px;
    border-style: solid;
}

.parent {
  /* flex container of size auto (height) x 100vw (width) */
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  /* flex-direction: row; */
  /* background-color: white; */
  font-size: 1.25vw;
}

.child {
  /* each flex item of 220px (width) */
  /* background-color: white; */
  color: black;
  border: 1px solid black;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  flex-basis: 220px;  
}

.child:hover {
  /* use flex-basis: 100px; small width size then can see the effect of flex-grow */
  flex-grow: 2;
  /* use flex-basis: 300px; large width size then can see the effect of flex-shrink */
  /* flex-shrink: 2; */
  color: red;
  background-color: yellow;
  font-size: 3vw;
}

.point-image {
  display: block;
  /* image of fixed size */
  /* width: 240px; */
  /* height: 320px; */
  /* image of scaling size */
  /* Images and video can easily be made to scale up or */
  /* down using CSS rules to assign their width property a percentage */
  /* value, and by specifying the auto keyword to their height property. */
  width: 35%;
  height: auto;
}

.point-image:hover {
  /* Hide Content */

  /* Method 1 using display property */
  /* display: none; content is entirely remove from the page */
  /* flow, no page space reserved, and invisible to screen readers. */
  /* display: none; */

  /* Method 2 using visibility property */
  /* visibility: hidden; content remains in the page flow, page space is */
  /* reserved, but content is invisible to users and screen readers. */
  /* visibility: hidden; */

  /* Method 3 using opacity property */
  /* opacity: value; content remains in the page flow, page space is reserved, */
  /* the content is visually hidden (for opacity: 0;) but is visible to screen readers. */
  opacity: 0.5;

  /* Handle Overflow */
  /* CSS provides many controls to specify the precise size and position of content boxes. */
  /* There is no gurantee that the content will fit neatly within their boundaries */
  /* in all circumstances. The text may then overflow outside the box boundaries. */
  /* Overflowing content is generally visible by default, but the CSS */
  /* overflow property can specify alternative handling behaviors */
  /* using the hidden or scroll keywords. */

  /* With overflow: visible; the overflowing content will be visible (default) */
  /* overflow: visible; */

  /* With overflow: hidden; the overflowing content will be invisible. */
  /* overflow: hidden; */

  /* With overflow: scroll; the browser will provide horizontal and vertical scrollbars that the */
  /* user can use to view the overflowing content. */
  /* overflow: scroll; */

  /* overflow-x: value; refers horizontal scrollbar provision */
  /* overflow-y: value; refers vertical scrollbar provision */

  /* text-overflow: clip; refers to truncating the text characters without regard to word breaks */
  /* text-overflow: ellipsis; refers to indicating of ... ellipsis which replaces the final truncated letters */

  /* white-space: normal; refers to wrapping the text content to the next line within a block-level content box at word breaks (default) */
  /* white-space: nowrap; refers to disabling text wrapping of the text content */
}

/* Alternative approach for display of flex-box using text-area concept */
/*
.flex-box {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  row-gap: 10px;
  column-gap:10px;
  background-color: white;
  font-size: 1.25vw;
}

  #text-area-header {
    color: red;
    background-color: white;
    border-top: 3px solid black;
    border-bottom: 5px double black;
    padding: 3vh 3vw;
    margin: 0;
  }

  #text-area-content {
    color: red;
    background-color: white;
    border-bottom: 5px double black;
    padding: 3vh 3vw;
    margin: 0;
  }

  #text-area-footer {
    color: red;
    background-color: white;
    border-bottom: 3px solid black;
    padding: 3vh 3vw;
    margin: 0;
  }

  #text-area-header:hover {
    color: white;
    background-color: red;
    border-top: 3px solid black;
    border-bottom: 5px double black;
    padding: 3vh 3vw;
    margin: 0.75em 0;
  }

  #text-area-content:hover {
    color: white;
    background-color: red;
    border-bottom: 5px double black;
    padding: 3vh 3vw;
    margin: 0.75em 0;
  }

  #text-area-footer:hover {
    color: white;
    background-color: red;
    border-bottom: 3px solid black;
    padding: 3vh 3vw;
    margin: 0.75em 0;
  }
*/