
*,*::after,*::before {
}

body {
    margin: 0;
    padding: 0;
}


#logo {
    height: 30px;
}


#image {
  /* specify picture size */
  width: 50px;
  height: 50px;
  /* centered picture */
  display: block;
  margin: 0 auto;
  /* provide perimeter gaps */
  padding: 2px 2px;
}

#img-button {
  width: 90px;
  height: 30px;
}

#spacer {
  margin: 10px 10px;
  padding: 10px 10px;
}

.text {
    text-decoration: underline;
    text-decoration-color: black;
    color: white;
}

/* bootstrap overwrites */
.bg-body-tertiary {
    background-color: blueviolet !important; /* overrides specificity by adding "!important" to the end of the declaration */
}

  /* Bootstrap Breakpoints
    
    Extra small	        None	<576px
    Small	            sm	    ≥576px
    Medium	            md	    ≥768px
    Large	            lg	    ≥992px
    Extra large	        xl	    ≥1200px
    Extra extra large	xxl	    ≥1400px, max=1580px

  */

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 576px) {
    body {
        background-color: lightgrey;
    }
    .parent {
      background-color: lightgrey;
      flex-direction: column;
      font-size: 4vw;
    }
    .child:hover {
      /* background-color: lightgrey; */
      background-color: yellow;
      color: red;
      font-size: 4vw;
    }
    #point-image {
      width: 25%;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 576px) {
    body {
        background-color: lawngreen;
    }
    .parent {
      background-color: lawngreen;
      flex-direction: column;
      font-size: 4vw;
    }
    .child:hover {
      /* background-color: lawngreen; */
      background-color: yellow;
      color: red;
      font-size: 4vw;
    }
    #point-image {
      width: 25%;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body {
        background-color: cyan;
    }
    .parent {
      background-color: cyan;
      flex-direction: row;
      font-size: 3vw;
    }
    .child:hover {
      /* background-color: cyan; */
      background-color: yellow;
      color: red;
      font-size: 3vw;
    }
    #point-image {
      width: 60%;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body {
        background-color: aquamarine;
    }    
    .parent {
      background-color: aquamarine;
      flex-direction: row;
      font-size: 2vw;
    }
    .child:hover {
      /* background-color: aquamarine; */
      background-color: yellow;
      color: red;
      font-size: 2vw;
    }
    #point-image {
      width: 45%;
    }    
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body {
        background-color: skyblue;
    }
    .parent {
      background-color: skyblue;
      flex-direction: row;
      font-size: 1.5vw;
    }
    .child:hover {
      /* background-color: skyblue; */
      background-color: yellow;
      color: red;
      font-size: 1.5vw;
    }
    #point-image {
      width: 40%;
    }    
  }
  /* Extra extra large devices (large tv screens, 1400px and up) */
  /* @media only screen and (min-width: 1400px) { */
  @media only screen and (min-width: 1400px) and (max-width: 1580px) {
    body {
        background-color: white;
    }    
    .parent {
      background-color: white;
      flex-direction: row;
      font-size: 1.25vw;
    }
    .child:hover {
      /* background-color: white; */
      background-color: yellow;
      color: red;
      font-size: 1.25vw;
    }
    #point-image {
      width: 35%;
    }    
  }
